

// Override for the padding and height of the selector
#lglink {
  font-size: 0.875rem;
  &.dropdown {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    line-height: 44.8px;
    &:after {
      top: 1.75em;
    }
  }
}