@import "calcite-web/imports";


#header, #footer, .header, .footer, #home-search-container, #helpSearchForm, .navigation-bar, .section-bar nav, #social-column, #feedback, #gallery, .referenc-index, .reference-content .toc, footer.feedback, .drawer-nav, .back-to-top, .semantic-toc, a[data-langlabel*='feedback'] {
  display: none;
}

body {
  font-family: "Lucida Grande","Segoe UI","Arial",sans-serif;
  font-size: 10pt;
}
h1 {
font-size: 20pt !important;
}



img {
  border: 0 none;
}
img, object, embed, video {
  height: auto;
  max-width: 100%;
}

.home-banner {
  #banner-main-text {
    margin-top: 0;
  }
}




/* Styles for publisher content */
img {
  max-width: none;
}
.note {
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  /*line-height: 1em;*/
  float: none;
  background-color: #ebebeb;
  border: 1px solid #909090;
  border-radius: 6px;
  padding: 6px;
  page-break-inside: avoid;
  h5, .note-content {
    margin-left: 10pt;
    margin-right: 10pt;
  }
}

.page-content h5, .reference-content h5 {
  margin-bottom: 0em;
  margin-top: 1.26316em;
}
.note h1, .note h2, .note h3, .note h4, .note h5, .note h6 {
  margin-bottom: 0;
}
h5 {
  font-size: 1em;
  line-height: 0px;
}
.reference-index, #bigmac {
  display:none;
}

.reference-content h1 {
  padding-left: 0;
  padding-right: 0;
  width: 63%;
}
.page-content h1, .reference-content h1 {
  margin-bottom: 0.63158em;
  margin-top: 1.26316em;
}
h1.divider {
  border-color: #EDEDED;
  border-width: 1px;
  padding-bottom: 0.375em;
}
.page-title {
  margin-top: 0 !important;
}
thead {
  tr {
    background-color: $lighter-gray;
  }
}
table {
  border: 1px solid #909090;
  border-collapse: collapse;
  td, th {
    border: 1px solid #909090;
    padding: 6px;
    }
}

#plats {
  .available {
    display: none;
  }
}

/* End of - Styles for publisher content */

#platforms {
  .divider, .dropdown-navigation {
    display: none;
  }
}
