
/* New search form style*/
.section-bar #helpSearchForm .navigation-bar #helpSearchForm {
	display: none;
}

#search-container {
	display: none;
}


/* Hiding temporarily. Remove it once search is ready */
#helpSearchForm {
	margin-bottom: 0px;
	display: none;
}

.pro-search-form {
	display: none;
}

.pro-search {
	position: relative;
	width: 0%;
	min-width: 20px;
	height: 20px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;

	padding-top: 5px;
	padding-left: 5px;
	margin-top: 10px;
	margin-right: 10px;
}

.pro-search-input {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0;
	z-index: 10;

	padding-top: 2px !important;
	border: 0px solid #ccc !important;
	height: inherit  !important;
	line-height: inherit !important;

}

/*.pro-search-submit, */
.pro-icon-search {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}

.pro-icon-search {
	margin-right: 5px;

	background-image: url("/img/ago_sprite_search.png") !important;
	background-position: 0px 0px;
	top: 6px;
	display: inline-block;
	width: 16px;
	height: 16px;
	z-index: 15;
	float: right;

}

/* Open state */
.pro-search.pro-search-open, .no-js .pro-search {
	width: 100%;
}

.pro-search-open {
	width: 100%;
}

.pro-search.pro-search-open .pro-icon-search,
.no-js .pro-search .pro-icon-search {
	color: #fff;
	z-index: 11;
}

.pro-search.pro-search-open .pro-search-submit,
.no-js .pro-search .pro-search-submit {
	z-index: 90;
}

/*.dropdown-navigation {
 margin-top: 10px;
}*/
.banner-navigation {
    float: right;
    margin-right: 20px;
    margin-top: 16px;
    min-width: 200px;
}
.dropdown-navigation {
	margin-top: 4px;
}
