
#plats .viewing {
    color: #a6a6a6;
}

#plats a.on {

    font-weight: bold;    
    -moz-box-shadow:    inset 0 0 0px #007ac2;
    -webkit-box-shadow: inset 0 0 0px #007ac2;
    box-shadow:         inset 0 0 0px #007ac2;

}

#plats a.off {
    opacity: 0.35;
}



