---
title: Doc Framework Health Dashboard 

js:
  - rssfeed

metatags:
  - <META name="description" content="Doc framework health dashboard home page."><META name="last-modified" content="2018-07-26"><META name="content-language" content="en">

---
<header class="sub-nav arcgis-product-header" role="banner">
  <div class="grid-container padding-leader-1">
    <div class="column-24">
      <h1 class="font-size-8 padding-leader-2 text-white"><%= data.page.title %></h1>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list padding-leader-2" role="navigation" aria-labelledby="subnav">
        <a class="sub-nav-link is-active" href="/en/" title="Doc Framework Status Dashboard">Home</a>
        <a class="sub-nav-link" href="status/" title="Detail description of website status">Status Dashboard</a>
        <a class="sub-nav-link" href="/en/" title="Page load time and overall performance">Performance Dashboard</a>
        <a class="sub-nav-link is-active" href="/en/" title="Status history of last 28 days">History</a>
        <a class="sub-nav-link is-active" href="/en/" title="Doc Framework team contact information">Contact us</a>
      </nav>
    </div>
  </div>
</header>
<div class="panel panel-no-padding padding-leader-2 padding-trailer-half panel-white">
  <div class="grid-container">
    <div class="column-24">
      <nav aria-labelledby="thirdnav" role="navigation">
        <ul class="horizontal text-center trailer-half version-links">
		      <li>
            <img src="/en/images/normal.png" alt="site is working" width="50" height="50">
            <a href="/en/get-started/latest/windows/what-s-new-in-arcgis-enterprise.htm" title="What's new for ArcGIS Enterprise in the latest release">Normal</a>
          </li>
          <li>
            <img src="/en/images/down.png" alt="site is not working" width="50" height="50">
            <a href="/en/get-started/latest/windows/upgrade-arcgis-enterprise.htm" title="Upgrading to the latest release of ArcGIS Enterprise">Service disruption</a>
          </li>
          <li>
            <img src="/en/images/warning.png" alt=" triggered a warning " width="50" height="50">
            <a href="/en/documentation/install/" title="Guides for installing ArcGIS Enterprise and related components">Warning</a>
          </li>
          <li>
            <img src="/en/images/message.png" alt="triggered an information message" width="50" height="50">
            <a href="/en/system-requirements/latest/windows/arcgis-enterprise-builder-system-req.htm" title="Hardware and software requirements for installing and running ArcGIS Enterprise">Informational message</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="panel panel-no-padding padding-leader-1 padding-trailer-1 panel-gradient">
  <div class="grid-container">
    <div class="column-24">
      <h2 class="text-white">Current Website Staus</h2>
      <div class="block-group block-group-5-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Easy installation" class="card-image">
          </figure>
           <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
           <a href="http://learn.arcgis.com/en/" class="btn btn-clear btn-fill">learn.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Customize your portal" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://storymaps.arcgis.com/en/" class="btn btn-clear btn-fill">storymaps.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Bring your own data" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://desktop.arcgis.com/en/" class="btn btn-clear btn-fill">desktop.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Share maps and apps" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://doc.arcgis.com/en/" class="btn btn-clear btn-fill">doc.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Collaborate" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://docresources/" class="btn btn-clear btn-fill">docresources</a>
        </div>
      </div>
      <div class="block-group block-group-5-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Easy installation" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="https://livingatlas.arcgis.com/en/" class="btn btn-clear btn-fill">livingatlas.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Customize your portal" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://resources.arcgis.com/en/help/" class="btn btn-clear btn-fill">resources.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Bring your own data" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://enterprise.arcgis.com/en/" class="btn btn-clear btn-fill">enterprise.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Share maps and apps" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://solutions.arcgis.com/" class="btn btn-clear btn-fill">solutions.arcgis.com</a>
        </div>
        <div class="card block trailer-1">
          <figure class="card-image-wrap">
            <img src="/assets/images/initial.png" alt="Collaborate" class="card-image">
          </figure>
          <a href="/en/status.html.erb" class="btn btn-clear btn-fill">Status Dashboard</a>
          <a href="http://pro.arcgis.com/en/pro-app/" class="btn btn-clear btn-fill">pro.arcgis.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
