---
title: Status Dashboard 

js:
  - rssfeed

metatags:
  - <META name="description" content="Status dashboard page."><META name="last-modified" content="2018-08-01"><META name="content-language" content="en">

---
<header class="sub-nav arcgis-product-header" role="banner">
  <div class="grid-container padding-leader-1">
    <div class="column-24">
      <h1 class="font-size-8 padding-leader-2 text-white" Status Dashboard></h1>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list padding-leader-2" role="navigation" aria-labelledby="subnav">
        <a class="sub-nav-link" href="/en/" title="Doc Framework Status Dashboard">Home</a>
        <a class="sub-nav-link is-active" href="status/" title="Detail description of website status">Status Dashboard</a>
        <a class="sub-nav-link" href="performance/" title="Page load time and overall performance">Performance Dashboard</a>
        <a class="sub-nav-link" href="history/" title="Status history of last 28 days">History</a>
        <a class="sub-nav-link" href="contact/" title="Doc Framework team contact information">Contact us</a>
      </nav>
    </div>
  </div>
</header>
<!--<div class="panel panel-no-padding padding-leader-2 padding-trailer-half panel-white">
  <div class="grid-container">
    <div class="column-24">
      <nav aria-labelledby="thirdnav" role="navigation">
        <ul class="horizontal text-center trailer-half version-links">
		      <li>
            <img src="/en/images/normal.png" alt="site is working" width="50" height="50">
            <a href="#" title="site is working">Normal</a>
          </li>
          <li>
            <img src="/en/images/down.png" alt="site is not working" width="50" height="50">
            <a href="#" title="site is not working">Service disruption</a>
          </li>
          <li>
            <img src="/en/images/warning.png" alt="Triggered warning, page load time exceeded the limit" width="50" height="50">
            <a href="#" title="Triggered warning, page load time exceeded the limit">Warning</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>-->
<div class = "column-24">
<table style="margin-top: 25px">
  <tr>
    <th>Product Website</th>
    <th>Developer server<strong> dev </strong></th>
    <th>Staging server<strong> crux </strong></th>
    <th>Production server<strong> kernel </strong></th>
    <th>Production server<strong> nucleus </strong></th>
  </tr>
  <tr>
    <td>learn.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>storymaps.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>desktop.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>doc.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>docresources</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>livingatlas.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>resources.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td>enterprise.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td>solutions.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td>pro.arcgis.com</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
