<section class="page-navigation">
  <div class="grid-container">
    <nav class="trailer-1 column-24 tablet-column-24 center center-text">
      <ul class="inline">
        <li><a href="#portal"><span class="page-nav-icon" style="background-image: url('/en/images/icons/server-nav-portal.png')"></span><span class="page-nav-text">Portal</span></a></li>
        <li><a href="#apps"><span class="page-nav-icon" style="background-image: url('/en/images/icons/features-nav-apps.png')"></span><span class="page-nav-text">Apps</span></a></li>
        <li><a href="#solutions"><span class="page-nav-icon" style="background-image: url('/en/images/icons/features-nav-solutions.png')"></span><span class="page-nav-text">Solutions</span></a></li>
        <li><a href="#administration"><span class="page-nav-icon" style="background-image: url('/en/images/icons/features-nav-admin.png')"></span><span class="page-nav-text">Administration</span></a></li>
        <li><a href="#security"><span class="page-nav-icon" style="background-image: url('/en/images/icons/server-nav-security.png')"></span><span class="page-nav-text">Security</span></a></li>
        <li><a href="#services"><span class="page-nav-icon" style="background-image: url('/en/images/icons/server-nav-services.png')"></span><span class="page-nav-text">Services</span></a></li>
        <li><a href="#data-management"><span class="page-nav-icon" style="background-image: url('/en/images/icons/features-nav-data.png')"></span><span class="page-nav-text">Data Management</span></a></li>
        <li><a href="#enterprise"><span class="page-nav-icon" style="background-image: url('/en/images/icons/server-nav-enterprise.png')"></span><span class="page-nav-text">ArcGIS Platform</span></a></li>
      </ul>
    </nav>
  </div>
</section>
