<div class="us">
  <div class="pricing-container mar-all-1 clearfix">
    <div class="column-6">
      <div class="pricing-box" style="text-align:center;">
        <div class="pricing-top">
          <h3>
            Perpetual <br/>Licenses
          </h3>
        </div>
        <hr>
          <p class="small-grey">Begin at $5,000 for ArcGIS for Server Basic Workgroup and range to $40,000 for ArcGIS for Server Advanced Enterprise.</p>

        </div>
    </div>


    <div class="column-6">
      <div class="pricing-box" style="text-align:center;">
        <div class="pricing-top">
          <h3>
            Term <br/>Licenses
          </h3>
        </div>
        <hr>
          <p class="small-grey">
            Available in 30-, 90-, and 365-day terms and range from $600 to $24,000 <br/>based on edition and <br/>term length.
          </p>


        </div>
    </div>


    <div class="column-6">
      <div class="pricing-box" style="text-align:center;">
        <div class="pricing-top">
          <h3>Enterprise-Wide Licenses</h3>
        </div>
        <hr>
          <p class="small-grey">
            Available through an <a href="http://www.esri.com/industries/ela" target="_blank">Enterprise License Agreement (ELA)</a>. <br/></br></br>
          </p>


        </div>
    </div>


    <div class="column-6 omega">
      <div class="pricing-box" style="text-align:center;">
        <div class="pricing-top">
          <h3>Development Licenses</h3>
        </div>
        <hr>
          <p class="small-grey">
            Available through an <a href="http://www.esri.com/software/arcgis/edn">Esri Developer Network</a> (EDN) subscription. <br/></br></br>
          </p>

        </div>
    </div>
  </div>

</div>
